In [1]:
import pandas as pd
import pymysql
import sqlalchemy
import os
#from dotenv import load_dotenv

In [4]:
city_df = pd.read_csv(r"C:\Users\René\Desktop\WBS-Project 3\Data_Engineering_Pipelines\Data\city_data.csv")
weather_df = pd.read_csv(r"C:\Users\René\Desktop\WBS-Project 3\Data_Engineering_Pipelines\Data\weather_data.csv")
airport_df = pd.read_csv(r"C:\Users\René\Desktop\WBS-Project 3\Data_Engineering_Pipelines\Data\airport_data.csv")
flight_df = pd.read_csv(r"C:\Users\René\Desktop\WBS-Project 3\Data_Engineering_Pipelines\Data\flight_data.csv")

In [5]:
city_df.head()

,Unnamed: 0,city_id,city,country,country_code,region,elevation,city_latitude,city_longitude,population
0,0,Q64,Berlin,Germany,DE,Berlin,NaN,52.516667,13.383333,3664088
1,1,Q1055,Hamburg,Germany,DE,Hamburg,NaN,53.550000,10.000000,1852478
2,2,Q1726,Munich,Germany,DE,Bavaria,519.0,48.134520,11.571000,1488202
3,3,Q365,Cologne,Germany,DE,North Rhine-Westphalia,52.0,50.942222,6.957778,1083498
4,4,Q1794,Frankfurt am Main,Germany,DE,Hesse,112.0,50.113611,8.679722,764104

In [6]:
city_df.drop(columns = ["Unnamed: 0"], inplace = True)
weather_df.drop(columns = ["Unnamed: 0"], inplace = True)
airport_df.drop(columns = ["Unnamed: 0"], inplace = True)
flight_df.drop(columns = ["Unnamed: 0"], inplace = True)

In [7]:
city_df.head()

,city_id,city,country,country_code,region,elevation,city_latitude,city_longitude,population
0,Q64,Berlin,Germany,DE,Berlin,NaN,52.516667,13.383333,3664088
1,Q1055,Hamburg,Germany,DE,Hamburg,NaN,53.550000,10.000000,1852478
2,Q1726,Munich,Germany,DE,Bavaria,519.0,48.134520,11.571000,1488202
3,Q365,Cologne,Germany,DE,North Rhine-Westphalia,52.0,50.942222,6.957778,1083498
4,Q1794,Frankfurt am Main,Germany,DE,Hesse,112.0,50.113611,8.679722,764104

In [8]:
schema = "gans"
host = 
user = 
password =
port = 3306
con = f"mysql+pymysql://{user}:{password}@{host}:{port}/{schema}"

In [9]:
city_df.to_sql("cities", if_exists = "append", con = con, index = False)

15

In [13]:
weather_df.to_sql("weathers", if_exists = "append", con = con, index = False)

600

In [11]:
airport_df.to_sql("airports", if_exists = "append", con = con, index = False)

15

In [12]:
flight_df.to_sql("flights", if_exists = "append", con = con, index = False)

2451